@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  position: relative;
}

.navbar::before{
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  z-index: -1;
}
.navbar ul {
  display: flex;
  list-style: none;
}

.navbar {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif ;
}

.navbar ul li a{
  padding: 5px 20px;
  text-decoration: none;
  color: whitesmoke;
}

.navbar ul li a:hover{
  color: rgba(60, 230, 175);
}

/* Home sction */

#home {
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  color: whitesmoke;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url('./images/person1-modified.png') no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: .8;
}

.heading {
  color: whitesmoke;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  transform: scale(1,1.2);
}

/* Portfoilio Section */

#portfolio {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .5);
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.gallery img {
   width: 360px;
   height: 550px;
   padding: 10px;
   margin: 10px;
}















/*


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* styling for text in nav bar 
li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
/* nav bar layout 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;

}
.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
  
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
/* resizing if displayed screen is smaller than 810px undisplay text
@media (max-width: 810px) {
  .nav__links li {
    display: none;
  }
}
/* give color to text and added transition 
.nav__links li a {
  transition: all 0.3s ease-in-out 0s;
  color: black;
}
/* resizing if displayed screen is smaller than 810px undisplay button
@media (max-width: 810px) {
  button {
    display: none;
  }
}
/* when pointer hover over text, change color 
.nav__links li a:hover {
  color: rgba(60, 230, 175);

}
/* button styling 
button {
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 9px 25px;
  background-color:rgba(60, 230, 175);
  transition: all 0.3s ease-in-out 0s;
  font-weight: bold;
  color:whitesmoke;
  
}
/* when pointer hover over text, change color 
button:hover {
  background-color: rgba(55, 200, 160, 1);
}
/* added background image to fix and auto resize 
.background-image {
  background-image: url('./images/grand-min.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  opacity: 65%;
  position: fixed;
}



/* -- hambuger button 
.burger-btn {
  position: absolute;
  top: .75ram;
  right: 1ram;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.burger-btn span {
  height: 3px;
  width:100%;
  background-color: red;
  border-radius: 10px;
}

<a href="#" class="burger-btn">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</a>

<img class="background-image" src="./images/grand-min.jpg" alt="background-image" >